circle {
    fill: #ccc;
    opacity: 0.5;
    stroke: #999;
    pointer-events: all;
    &.parent {
        fill: #1f77b4;
        fill-opacity: .1;
        stroke: steelblue;
        &:hover {
            stroke: #ff7f0e;
            stroke-width: .5px;
        }
    }
    &.child {
        pointer-events: none;
    }

}
text {
    font-size: 11px;
    pointer-events: none;
    &.parent {
        fill: #1f77b4;
    }
    &.child{
        //visibility: hidden;
    }
}
