body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.pull-right iframe{
    margin-top: 5px;
}

.table .nobr{
    white-space: nowrap;
    text-align: right;
}

table {
    height: 700px;
    overflow: auto;
    tr{
        cursor: pointer;
        &.active {
            color : darken(#ddd,20%);
        }
    }
}

