@(message: String)(implicit app:play.api.Application, request:play.api.mvc.Request[AnyContent])

@import play.api.Play

@moreHead = {
}

@main(message,moreHead) {

<div class="container" xmlns="http://www.w3.org/1999/html">
            <div class="hero-unit">
                <h1>About</h1>
                <p>Ce travail a est n&eacute; du hackathon du <a href="http://www.google.fr/events/dataconnexions2012/">deuxi&egrave;me Atelier Open Data</a> organis&eacute; par <a href="http://www.etalab.gouv.fr/">Etalab</a> et <a href="http://www.google.fr/events/dataconnexions2012/">Google</a>. </br> Le code source de l'application est disponible sur <a href="https://bitbucket.org/taraxe/dataconnexions">Bitbucket</a></p>
                <p>R&eacute;alis&eacute; avec :</p>
                <ul>
                    <li><a href="http://www.playframework.org/">Play Framework 2</a></li>
                    <li><a href="http://d3js.org/">D3.js</a></li>
                    <li><a href="http://twitter.github.com/bootstrap/">Twitter bootstrap</a></li>
                    <li><a href="http://www.data.gouv.fr/donnees/view/Loi-de-finances-intiale-2011---budget-g%C3%A9n%C3%A9ral-30381766?xtmc=budget&xtcr=4">Loi de finance initiale 2011 - Budget General</a></li>
                </ul>
                <p><a href="https://twitter.com/taraxe" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large">Suivre @@taraxe</a></p>
            </div>
</div>

}