@(message: String, spending:Spending)(implicit app:play.api.Application, request:play.api.mvc.Request[AnyContent])

@import play.api.Play

@moreHead = {
<link rel="stylesheet" type="text/css" media="screen" href="@{routes.Assets.at("stylesheets/chart."+"min.".when(!Play.isDev(app))+"css")}">
<script src="@{routes.Assets.at("javascripts/jquery.tablesorter.min.js")}" type="text/javascript"></script>
}

@main(message,moreHead) {
   <script src="@{routes.Assets.at("javascripts/spending."+"min.".when(!Play.isDev(app))+"js")}" type="text/javascript"></script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <table class="table table-nohover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Mission</th>
                    <th class="nobr">Budget (M &euro;)</th>
                </tr>
                </thead>
                <tbody>
                @spending.missions.toList.sortBy(_.total).reverse.map { m =>
                <tr data-mid="@m.id">
                    <td>@m.name</td>
                    <td class="nobr">@{"%5.2f".format(m.total / 1000000.0)}</td>
                </tr>
                }
                </tbody>
            </table>
            <b>Total : @{spending.total / 1000000000} Milliards d'&euro; </b>
        </div>
        <div class="span9">
            <div id="chart"></div>
        </div>
    </div>
</div>

}